In [47]:
!pip install chefboost

Requirement already satisfied: chefboost in /usr/local/lib/python3.7/site-packages (0.0.13)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/site-packages (from chefboost) (1.18.5)
Requirement already satisfied: psutil>=5.4.3 in /usr/local/lib/python3.7/site-packages (from chefboost) (5.8.0)
Requirement already satisfied: pandas>=0.22.0 in /usr/local/lib/python3.7/site-packages (from chefboost) (1.3.0)
Requirement already satisfied: tqdm>=4.30.0 in /usr/local/lib/python3.7/site-packages (from chefboost) (4.31.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/site-packages (from pandas>=0.22.0->chefboost) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/site-packages (from pandas>=0.22.0->chefboost) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.22.0->chefboost) (1.15.0)

In [ ]:
from chefboost import Chefboost as chef
import pandas as pd

In [77]:
# Importar os dados - The data contains 5110 observations with 12 attributes.
path = "./data/healthcare-dataset-stroke-data.csv"

# Criar um data frame - registramos a coluna 'id' como coluna de indexação.
df = pd.read_csv(path, index_col=0)
df = df.rename(columns={"stroke": "Decision"})
df['Decision'] = df['Decision'].astype(object)

In [78]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,Decision
id,,,,,,,,,,,
9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [79]:
config = {'algorithm' : 'C4.5'}

In [80]:
model = chef.fit(df, config)

[INFO]:  4 CPU cores will be allocated in parallel running
C4.5  tree is going to be built...
-------------------------
finished in  37.91204595565796  seconds
-------------------------
Evaluate  train set
-------------------------
Accuracy:  0.0 % on  5110  instances
Labels:  [1 0]
Confusion matrix:  [[0, 0], [0, 0]]
Precision:  0.0 %, Recall:  0.0 %, F1:  0.0 %